#centralize{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-width: 60%;
}

#icon-size{
    margin-bottom: -0.17em;
    height: 1em;
}

#title{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 1em;
}

#row{
    display: flex;
    flex-direction: row;
}

#map{
    border: 10px solid rgb(233, 235, 237);
    border-radius: 2%;
}

#selectors{
    margin: 2%;
    padding: 3rem;
    border: 0.5em double #4d4b4b;
    border-radius: 2%;
    background-color: rgb(70, 66, 66);
    width: 50rem;
    min-height: 100%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* --------------------------------------- */

#dropdown, #colorChangeSelect {
    display: block;
    height: 2rem;
    background: #4a33b4;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
    border-radius: 0.5rem;
}

#dropdown:before, #colorChangeSelect:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #4a33b4;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition:
      0.2s 0.2s border-top ease-out,
      0.3s border-top-color;
}

#dropdown:hover, #colorChangeSelect:hover { 
    background: #735bde; 
}
#dropdown:hover:before, #colorChangeSelect:before { 
    border-top-color: #4a33b4; 
}
  
#dropdown:hover > #dropdown:before {
    border-top-width: 0;
    transition:
      0.2s border-top-width ease-in,
      0.3s border-top-color;
}
  
#dropdown:after, #colorChangeSelect:after {
    content: "";
    display: block;
    height: 0;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}
  
#dropdown:hover > #dropdown:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}


#colorChangeButton {
    display: block;
    height: 2rem;
    width: 100%;
    background: #4a33b4;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s background-color;
    margin-bottom: 1rem;
}

#colorChangeButton:hover {
    background: #735bde;
}


/* --------------------------------------- */

#slider {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}